.voteButton {
  display: inline;
  margin-right: 1em;
}

// maintain same width as vote icon
.voteButton > div > span:nth-child(2) {
  height: 24px;
  width: 24px;
}

.downFilled {
  fill: #ff8686;
}

.upFilled {
  fill: #5bff79;
}
