.timer {
  background: #222;
  border-radius: 0.5em;
  color: rgb(0, 255, 0);
  height: 50px;
}

.timer > div {
  font-family: monospace;
  font-size: 24px;
  letter-spacing: 4px;
  font-weight: bold;
}
